credentials.json
CMakeCache.txt
CMakeFiles/

.DS_Store
build/*
dev/*

test/data/*
!test/data/generate
!test/data/CMakeLists.txt
!test/data/generate-ellipsoid.cpp

*.vcxproj
*.vcxproj.filters
*.sln

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual C++ cache files
ipch/

CMakeSettings.json
