language: cpp
sudo: required
services: docker
compiler:
- g++
- clang
before_install: "./scripts/ci/before_install.sh"
script: docker run -v $TRAVIS_BUILD_DIR:/entwine -t connormanning/pdal:entwine-pin
  /bin/sh -c "/entwine/scripts/ci/build.sh"
after_success:
- echo "secure travis:" "$TRAVIS_SECURE_ENV_VARS"
  # Update the TRAVIS_BRANCH value as necessary to force the build/deploy of the website
  # if both CXX==g++ and TRAVIS_BRANCH==value
- sh -c 'if test "$TRAVIS_SECURE_ENV_VARS" = "true" -a "$TRAVIS_BRANCH" = "master"
  -a "$CXX" = "g++"; then echo "publish website"; ./scripts/ci/build_docs.sh; ./scripts/ci/deploy_website.sh
  $TRAVIS_BUILD_DIR/doc/build; fi'
notifications:
  email: false
  on_success: always
  on_failure: always
  slack:
    secure: qAzPWkpLugFrGFDLQzoYnrziR8RS+24ILcwuXJha2blTqBi5/TdbfafnUMlaBwvaIxDiz0je4LOjTT7tJ7HYfJRW6YnXDPJ4uy1vHwxtVCEmIU+JoWvkTwWffAH0j49davyHlNwUh0ogM3iL5GU15oQCHMpZnElaEw1QntF/liYyIswYdlg1kTjhqwaPt9Q1nw46Yfb+i9iCFrARQ+gdOOSLZ6ZjJYYP9dNH+Z0qWQBDT33Trmh8W8V7flzCKLHdWH2dBJ3RxG1QMe3Gljxkc0OOub+o5ziZyGCGf8ILk9cIGjysgXd8j6WpU5mJzj4DKc2hgRUiHHepOFwlwOIO+NBBWa4tqSm+7WFGya5jDvIZj4fJNwUPuU3i7T9lUlYIMVMmGAiDB8VfM3iRuQwY2rcToNXvYFrVRveMImSkOOtCyN6BHMm925jyqk99/pcjasjADSWuSNLaD7sXuZB+qgay7ddJ3jjG231INvu6M/qO7SWOKSG20Gh2F+mbWqzAkC5nAo5eHYapk5uFpmD51kUcXN59mWaaBmuoOckxPwEEgmjANpoO9SjWPsPTfindMySUrqD8M7+M9bUB0o31PIvP8p4D3lTI262PBrJQX3wwgQacaP/lB35DAo/58jnKGJXV3yydarysFWO35urAdT5tFL9JftIF1diEj7aqSPI=
env:
  global:
      # These are the AWS S3 key/secret to deploy to Hobu's entwine.io bucket. There
      # is a specific entwine.io user with write access to only that bucket.
  - secure: Gy1BvfDhUnhHYFDg0+yLpNrk7CRb0Pt9wRD7VywH+mx6Vr0NU59aSd5qph8wuTelEaUZeHd/N8y42wG48t75zxij6g/9fg2FFBan8T/vJokvc/RYU/C5Q36SAfpkNTfDPOfKSXHqaVzxi09FfLpsgOYhIVCbLpXFF8piTXSSgbuieuIMQnc4gVLMt1mTRYJ3XoGIwDd6FTDq0VsERaO0nLdwf9xXlkHFFA4oepVDkCv5T5x5WtBM9AGH3m2sqF8Fgpbzl9OPKQbbnI7CXarNQ/Uj3yduYkIBYXKglF9/f+cosuse3bFs6LbH12NFKFCDlZECyDiqvqmINM9yC5f4EfmDsQJYz+8fK5kLEXXfV8nZjt+VtjNsqXRTyRnrZ0bVXJRM5cRCZGfIu+FX4odV7UZyJYKPZ98f5BNY3MH2Wdc1OsGGr0ydo+LqDatg69OjujIKHm/+WAvPO3cAwyBaqbb3Md8Gm8Me4oULGKaRZu5qZo/11FbhN9tbDTfAButG4AAhPk51/NI9sacVLE+ark2jePpf3f3MPNjIFvzYMebIdRyS0kSYGbc26AnaIyK2ZB3AoP6SlygFkQQDAER+BMTatHsK1yXuDD4aN+X1KflJsVv04naaWUUchoUaJjusfu/vDTgLx25msGubf4bv8qPeR6YNvfhvsdbY4UYPMxw=
  - secure: npfXonBV5hj5EsH7ARBdcW20Ssm6iMuTwpMkwHohpA9a2vSVLslvIaTSCjpaS7cKTgLFuS2PVsB1Q5fjaS5Rf3NdqJ3i6prgwZ3Iv8KYw9PG+BavA36jRXqCUNQ8n3wRoqmXJ8oEfNm2nFgPWd91SLhJ+whRrVZyz0EEt1roeN5ocVpLvHrXM0ukPtBUk5qVfmzqIFFlKRjxJqTaRqTIHn6FPxOEeLFPNLEWj1UwtS+Gx+F76zxoevk4RfUy8eSvSsYJReyGSYEnL3GGY2Qr02RyvXgQyvTbDp759t+GoKQmdJPP83TPpwuF19Ytd/z1Eh1abwvLsrVN9S29566NiBJXhy0vxzzhWxQ4gNKaYEKyzLiv47J2JIVsHj0pCZOsPcAzn5Q8TPSw5O+HGlO1ejLrekW0q+3iKzD23/d4OPEmQ+84FSogVAV29PcLMz+ANwWSMdp519NxtrJ4j+RdfPX0NeDZGYSlqYRBGM7NTHcnzceJaMcWqRLJHmextEzvddFd5LRxyrcBjAgcJTkL18QU1Ox6FvbPyMyBfmbzACUsZhEt4gFxbwNQi1cJeHBE4fOKapsO1vZaZ/yOsuZwIL5Qf0Nol5VyiIciBq6DM4MR5dECFmdDDHlVlqqL+7iiVg2OYygo3YXBm4cy967v19fnO+UkhT+NhovMNu75/0c=
