name: Conda

on:
  push:
      paths-ignore:
          - 'doc/**'
  pull_request:
      paths-ignore:
          - 'doc/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true


jobs:
  build:
    name: Conda ${{ matrix.platform }}

    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: true
      matrix:
        platform: ['ubuntu-latest','windows-latest','macos-latest']
    env:
      PDAL_PLATFORM: ${{ matrix.platform }}
      CACHE_NUMBER: 1


    steps:
    - uses: actions/checkout@v2

    - name: Support longpaths
      run: git config --system core.longpaths true
      if: matrix.platform == 'windows-latest'

    - name: Cache Conda Environment
      uses: actions/cache@v2
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-${{ steps.get-date.outputs.today }}-conda-${{ env.CACHE_NUMBER }}

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-variant: Mambaforge
        miniforge-version: latest
        use-mamba: true
        auto-update-conda: true
        use-only-tar-bz2: false

    - name: Setup
      shell: bash -l {0}
      run: |
          source ./scripts/ci/conda/setup.sh

    - name: Build
      shell: bash -l {0}
      run: |
          source ../scripts/ci/conda/compile.sh
      working-directory: ./entwine-feedstock

    - uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.platform }}-conda-package
        path: ./entwine-feedstock/packages/
